/*Home SEction*/

.sec1 {
    background-color: lightyellow;
}

.sec1 h1 {
    margin-top: 5rem;
}

.sec1 .logo {
    width: 150px;
}

#homeWrapper {
    margin-top: 5rem;
    align-content: center;
}

.homeTexts {
    margin-top: 8rem;
}

/*About Section*/

.sec2 {
    background-image: url('https://images.pexels.com/photos/2081166/pexels-photo-2081166.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#aboutWrapper {
    margin-top: 5rem;
}

.sec3 {
    background-color: lightblue;
}

.container-timer {
    text-align: center;
    margin: 5rem;
}

.container-timer ul {
    list-style: none;
}
.container-timer ul li{
    display: inline-block;
    margin: 2rem;
}
.container-timer ul li div {
    font-size: 3rem;
    font-weight: bolder;
}

.sec4 {
    background-color: green;
}

.sec5 {
    background-color: bisque;
}

.sec6 {
    background-color: aqua;
}

/*Pagepiling override*/

#pp-nav {
    display: none;
}

/*Social icons*/

.social-container {
    font-size: 5rem;
}

.social-container a:hover {
    text-decoration: none;
}

.icon-3d {
    padding: 10px;
    -webkit-animation: icon3d 500ms 10;
    animation: icon3d 200ms 0;
    color: #000;
}

.icon-3d:hover {
    -webkit-animation: icon3d 200ms infinite;
    animation: icon3d 200ms infinite;
}

/*Init vals*/
/*
    5,4
    -5,-6
    5,-4
    -8,-4
    -5,0

*/


@keyframes icon3d {
    0% {
        text-shadow: 2px 2px #f44336, -5px -6px #2196f3;
    }
    25% {
        text-shadow: -2px -3px #f44336, 5px 4px #2196f3;
    }
    50% {
        text-shadow: 2px -2px #f44336, -8px 4px #2196f3;
    }
    75% {
        text-shadow: -2px -2px #f44336, -5px -4px #2196f3;
    }
    100% {
        text-shadow: -2px 0 #f44336, 5px -4px #2196f3;
    }
}


/*--------------------- FOOTER---------------------*/
.footer {
    background: rgb(86, 89, 92);
    color: white;
  }
  .footer .links ul {
    list-style-type: none;
  }
  .footer .links li a {
    color: white;
    -webkit-transition: color .2s;
    transition: color .2s;
  }
  .footer .links li a:hover {
    text-decoration: none;
    color: #4180CB;
  }
  .footer .about-company i {
    font-size: 25px;
  }
  .footer .about-company a {
    color: white;
    -webkit-transition: color .2s;
    transition: color .2s;
  }
  .footer .about-company a:hover {
    color: #4180CB;
  }
  .footer .location i {
    font-size: 18px;
  }
  .footer .copyright p {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

