/*Home SEction*/

.sec1 {
    background-image: url('../images/back1.jpeg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.sec1 h1 {
    margin-top: 5rem;
}

.sec1 .logo {
    width: 150px;
}

#homeWrapper {
    margin-top: 5rem;
    align-content: center;
}

.homeTexts {
    margin-top: 8rem;
}

/*About Section*/

.sec2 {
    background-image: url('https://images.pexels.com/photos/2081166/pexels-photo-2081166.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#aboutWrapper {
    margin-top: 5rem;
}

.sec3 {
    background-color: lightblue;
}

.container-timer {
    text-align: center;
    margin: 5rem;
}

.container-timer ul {
    list-style: none;
}

.container-timer ul li {
    display: inline-block;
    margin: 2rem;
}

.container-timer ul li div {
    font-size: 3rem;
    font-weight: bolder;
}

.sec4 {
    background: black;
}

.sec5 {
    background-color: white;
}

.sec6 {
    background-color: aqua;
}

/*Pagepiling override*/

#pp-nav {
    display: none;
}

/*Social icons*/

.social-container {
    font-size: 3rem;
}

.social-container a:hover {
    text-decoration: none;
}

.icon-3d {
    padding: 10px;
    -webkit-animation: icon3d 500ms 10;
    animation: icon3d 200ms 0;
    color: #fff;
}

.icon-3d:hover {
    -webkit-animation: icon3d 200ms infinite;
    animation: icon3d 200ms infinite;
}

/*Init vals*/

/*
    5,4
    -5,-6
    5,-4
    -8,-4
    -5,0

*/

@keyframes icon3d {
    0% {
        text-shadow: 2px 2px #f44336, -5px -6px #2196f3;
    }
    25% {
        text-shadow: -2px -3px #f44336, 5px 4px #2196f3;
    }
    50% {
        text-shadow: 2px -2px #f44336, -8px 4px #2196f3;
    }
    75% {
        text-shadow: -2px -2px #f44336, -5px -4px #2196f3;
    }
    100% {
        text-shadow: -2px 0 #f44336, 5px -4px #2196f3;
    }
}

/*Social icon positioning*/

.social-container {
    position: absolute;
    top: 30%;
    left: 0%;
}

/*Events and Schedule section*/

/*Magazine*/

.magazines {
    margin-top: 3rem;
}

.carousel {
    background: #eee;
}

.carousel-cell {
    margin-right: 20px;
    overflow: hidden;
}

.carousel-cell img {
    display: block;
    height: 400px;
}

@media screen and (min-width: 768px) {
    .carousel-cell img {
        height: 400px;
    }
}

/* flickity override */
.flickity-viewport {
    background-color: none;
}
.flickity-button {
    display: none;
}
.flickity-page-dots {
    display: none;
}