.sec1 {
    background-color: lightyellow;
}
.sec1 h1 {
    margin-top: 5rem;
}
.sec1 .logo {
    width: 150px;
}
#homeWrapper {
    margin-top: 5rem;
    align-content: center;
}
.homeTexts {
    margin-top: 8rem;
}


.sec2 {
    background-color: red;
}
.sec3 {
    background-color: lightblue;
}
.sec4 {
    background-color: green;
}
.sec5 {
    background-color: bisque;
}
.sec6 {
    background-color: aqua;
}


/*Pagepiling override*/
#pp-nav {
    display: none;
}