@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    font-family: 'Montserrat';
    font-weight: bolder;
    
}
body
{
    background-image: url(./../images/abstract/Back2.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* Exabyte Logo */
header .exabyte-logo {
  position: absolute;
  z-index: 1;
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

header .exabyte-logo-text {
  color: rgb(2, 2, 2);
  /* font-family: 'Sigmar One', cursive; */
  font-family: 'Cavier-Dreams-bold';
  font-size: 18px;
  margin: 0;
  margin-left: 5px;
  display: block;
  cursor: pointer;
}

header .img-logo-sm {
  float: left;
  width: 50px;
}
.navLogoContainer img, .navLogoContainer h6 {
  width: 30px;
  position: fixed;
  top: 25px;
  left: 30px;
  z-index: 99;
}

.navLogoContainer h6 {
  color: black !important;
  top: 33px;
  margin-left: 1.7rem;
}


/*     Magazine    */
 
.magazineHeading {
  font-family: 'Cavier-Dreams-bold'!important;
}
.carousel {
    margin-top: 100px;
}

.carousel-cell {
  margin-right: 20px;
  overflow: hidden;
}

.carousel-cell img {
  display: block;
  height: 200px;
}

#magazine_text{
  margin-top: 30px;
  padding: 10px 20vw;
  color: rgb(0, 0, 0);
  text-align: justify;
  font-family: 'Montserrat';
}


@media screen and ( min-width: 768px ) {
  .carousel-cell img {
    height: 400px;
  }
}