
        body {
            background-color: white;
            background-image: url('../images/back4.jpeg');
        }
        .wrapper {
            margin-top: 5rem;
            padding: 2rem;
        }
        .our-team{
            padding: 2rem;
            text-align: center;
            transition: all 0.5s ease 0s;
        }
        /* .our-team:hover{
        box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        } */
        .our-team .pic{
        overflow: hidden;
        position: relative;
        }
        .our-team .pic:before,
        .our-team .pic:after{
        content: "";
        width: 220%;
        height: 100%;
        background: linear-gradient(to left,rgb(255, 255, 255),transparent,rgba(255,255,255),white);
        position: absolute;
        top: -100%;
        left: -15%;
        transform: rotate(45deg);
        transition: all 0.5s ease 0s;
        }
        .our-team .pic:after{
        background: linear-gradient(to left,rgb(255, 255, 255),transparent);
        top: auto;
        left: auto;
        bottom: -100%;
        right: -4%;
        }
        .our-team:hover .pic:before{ top: 0; }
        .our-team:hover .pic:after{ bottom: 0; }
        .our-team .pic img{
        width: 100%;
        height: auto;
        }
        .our-team .social{
        width: 100%;
        padding: 0px;
        margin: 5px;
        list-style: none;
        position: absolute;
        bottom: 45%;
        left: 0;
        opacity: 0;
        z-index: 2;
        transition: all 0.5s ease 0.3s; 
        }
        .our-team:hover .social{ opacity: 1; }
        .our-team .social li{ display: inline-block; }
        .our-team .social li a{
        display: block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
        color: #fff;
        margin-right: 10px;
        position: relative;
        transition: all 0.3s ease 0s;
        }
        .our-team .social li a:after{
        content: "";
        width: 100%;
        height: 100%;
        background: black;
        border-radius: 20px 20px 0px 00px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.3s ease 0s;
        }
        .our-team .social li a:hover:after
        { 
            transform: rotate(180deg); 
        }
        .our-team .team-description
        { 
            margin-top: 20px; 
        }
        .our-team .title{
        font-size: 22px;
        font-weight: 700;
        letter-spacing: 2px;
        color: black;
        text-transform: uppercase;
        margin-bottom: 7px;
        }
        .our-team .post{
        display: block;
        font-size: 17px;
        font-weight: 600;
        color: #707070;
        text-transform: capitalize;
        }
        @media only screen and (max-width: 990px){
        .our-team{ margin-bottom: 30px; }
        }
